@import '../../config/style-guide/colours.scss';

.shortcuts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  height: auto;
  vertical-align: middle;
  color: #212529;
  background: $color-lightest-grey;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  padding-left: 1em;
}

.closeButton {
  text-align: right;
  padding: 5px .5em 0 0;
  cursor: pointer;
}

.shortcut {
  display: inline-block;
  width: 6em;
  background: $color-labs-blue;
  font-weight: lighter;
  color: white;
  padding: 0 0;
  border-radius: 1em;
  text-align: center;
  margin-right: 1em;
}

.shortcutLabel {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  margin: .5em 0;
}

.shortcutButtons {
  display: flex;
  justify-content: center;
}

.shortcutWrapper {
  padding: 0 1em;
}
